.layout {
  display: flex;
  min-height: 100vh;
}

.main {
  margin-left: 64px;
  width: calc(100% - 64px);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: none;
}

.content {
  padding: 16px;
  flex: 1;
}

/* Tablet / mobile */
@media (max-width: 768px) {
  .main {
    margin-left: 0;
    width: 100%;
    min-height: 100vh;
  }

  .content {
    padding: 16px;
  }
}

@media (max-width: 400px) {
  .content {
    padding: 10px;
  }
}
